<!DOCTYPE HTML>
<!--
	Phantom by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Safe-Haven</title>
	  <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	  <!-- <link rel="stylesheet" href="style.css"> -->
	  <link rel="stylesheet" href="assets/css/main.css" />
	  <noscript>
	    <link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">
				<header>
					<h1 style="text-align: center">Safe Haven</h1>
				</header>
				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<!-- <a href="index.html" class="logo">
									<span class="symbol"><img src="images/logo.svg" alt="" /></span><span class="title">Phantom</span>
								</a> -->

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<h2>Menu</h2>
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="/signup">Signup</a></li>
							<li><a href="/login">Login</a></li>
							<li><a href="generic.html">Contact us</a></li>
							<li><a href="elements.html">Elements</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div>
						<div >
							<!-- <h1>Generic Page</h1> -->
							<section class="vertical img clearfix" style="background-image:
   url('<%= message.house[0] %>')">

							</section>
							<section class="vertical clearfix" style="height: 500px">
								<% if(message.house.length > 1){ %>
								<section class="horizontal img" style="background-image:
   url('<%= message.house[1] %>')">

								</section>
								<% } %>
								<% if(message.house.length > 2){ %>
									<section class="horizontal img" style="background-image:
   url('<%= message.house[2] %>')">

									</section>
							<% } %>
							</section>
							<section class="vertical clearfix" style="height: 500px">
								<span>Location</span>
								<span><%= message.name %></span>
								<span>Space available</span>
								<span><%= message.msg %></span>
								<span>House Rules</span>
								<span><%= message.rules %></span>
								<span>House Description</span>
								<p><%= message.description %></p>
							<a href="guestSignup"><button type="button" name="button">Contact the Host</button></a>

							</section>
							<!-- <h1>Generic Page</h1> -->
							<!-- <section class="vertical">
								<img src="<%= message.house[0] %>" alt="" class="generic" />
							</section>
							<section class="vertical">
								<% if(message.house.length > 1){ %>
								<section class="horizontal">
									<img src="<%= message.house[0] %>" alt="" class="generic" />
								</section>
								<% } %>
								<% if(message.house.length > 2){ %>
								<section class="horizontal">
									<img src="<%= message.house[2] %>" alt="" class="generic" />
								</section>
							<% } %>
							</section>
							<section class="vertical">
								<p><%= message.name %></p>
								<p><%= message.msg %></p>
								<p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis. Praesent rutrum sem diam, vitae egestas enim auctor sit amet. Pellentesque leo mauris, consectetur id ipsum sit amet, fersapien risus, commodo eget turpis at, elementum convallis elit. Pellentesque enim turpis, hendrerit tristique lorem ipsum dolor.</p>

							</section> -->

	        	</div>
					</div>

				<!-- Footer -->
<%- include('footer'); -%>

			</div>

			<script src="main.js"></script>
		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
