<!doctype html>
<html>

<head>
  <title>Safe-Haven</title>
  <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <!-- <link rel="stylesheet" href="style.css"> -->
  <link rel="stylesheet" href="assets/css/main.css" />
  <noscript>
    <link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
</head>

<body class="is-preload">
  <div class="container">

    <div class="page-header text-center">
      <h1>Guest Profile Page</h1>
      <h2><%= user.local.email %></h2>
      <a href="/logout" class="btn btn-default btn-sm">Logout</a>
      <% if (user.local.email) { %>
      <a href="/unlink/local" class="btn btn-default">Delete</a>
      <% } else { %>
      <a href="/connect/local" class="btn btn-default">Connect Local</a>
      <% } %>
    </div>


    <div id="wrapper">
      <!-- Header -->
      <%- include('header'); -%>

      <!-- Main -->
      <div class="col-sm-6">
                  <div class="well">
                      <h3><span class="fa fa-user"></span> Profile</h3>

                      <% if (user.local.email) { %>
                          <p>
                              <strong>First Name</strong>: <%= user.local.firstName %><br>
                              <strong>Last Name</strong>: <%= user.local.lastName %><br>
                              <strong>sex</strong>: <%= user.local.sex %><br>
                              <strong>Age</strong>: <%= user.local.age %>
                          </p>

                          <a href="/unlink/local" class="btn btn-default">Unlink</a>

                  </div>
              </div>

      <h2>Your Requests</h2>
<div class="col-sm-6">
  <% for(var i=0; i<requests.length; i++) {%>

  <!-- <a href="generic.html"> -->
    <div class="content">
      <ul class="hostRequest">
        <li><h5><a href="#">Name: <%= requests[i].firstName %> <%= requests[i].lastName %></a></h5></li>
        <li> <span>Age: </span> <%= requests[i].age %></li>
        <li><span>Sex:</span> <%= requests[i].sex %></li>
        <li><span>Email:</span> <%= requests[i].guestEmail %></li>
        <li><span>Tel:</span> <%= requests[i].phoneNumber %></li>
        <li><span>From:</span> <%= requests[i].arrive %> <span>To:</span> <%= requests[i].departure %></li>
        <li><span>Offering to:</span><%= requests[i].offering %></li>
        <li><span>ExtraInformation</span><%= requests[i].extraInformation %></li>
        <span><i class="fa fa-trash" aria-hidden="true"></i></span>

      </ul>

    </div>
  <!-- </a> -->

<% } %>


      </div>
    </div>
    <% } %>
    </div>

    <script src="main.js"></script>
    <!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
</body>

</html>
