<!doctype html>
<html>

<head>
  <meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <title>Safe-Haven</title>
  <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <!-- <link rel="stylesheet" href="style.css"> -->
  <link rel="stylesheet" href="assets/css/main.css" />
  <noscript>
    <link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
</head>

<body class="is-preload">
  <div class="container">

    <div class="page-header">
      <h1>Guest Profile Page</h1>
      <div class="row">
        <div class="col-md-6">

          <div class="imgX" style="background-image:
             url('https://safe-havre.s3.us-east-2.amazonaws.com/<%= user.profileImg %>')"></div>
          <!-- <img src="https://source.unsplash.com/user/erondu/1600x900" alt="" class="img-fluid"> -->

            <!-- <img src="<%= user.profileImg %>" alt="" class="img-fluid"> -->

          <!-- <form class="" action="/guestProfile" method="post" enctype="multipart/form-data">
            <input type="file" name="file-to-upload">
            <input type="submit" value="Upload">
          </form> -->

        </div>
                  <div class="well col-md-6">
                      <h3><span class="fa fa-user"></span> Profile</h3>

                      <% if (user.local.email) { %>
                          <p>
                              <strong>First Name</strong>: <%= user.local.firstName %><br>
                              <strong>Last Name</strong>: <%= user.local.lastName %><br>
                              <strong>Email</strong>: <%= user.local.email %><br>
                              <strong>Gender</strong>: <%= user.local.sex %><br>
                              <strong>Age</strong>: <%= user.local.age %>
                          </p>

                          <!-- <a href="/unlink/local" class="btn btn-default">Unlink</a> -->
                          <a href="/logout" class="btn btn-default">Logout</a>
                          <% if (user.local.email) { %>
                          <a href="/unlink/local" class="btn btn-default">Deactivate Account</a>
                          <% } else { %>
                          <a href="/connect/local" class="btn btn-default">Connect Local</a>
                          <% } %>

                  </div>
              </div>


    </div>

    <form class="" action="/guestProfile" method="post" enctype="multipart/form-data">
      <input type="file" name="file-to-upload" >
      <input type="submit" value="Upload profile Pic" placeholder="" class="btn btn-default">
    </form>


    <div id="wrapper">
      <!-- Header -->
      <h2>Your Requests</h2>

      <%- include('header'); -%>

<% /* %>
      <!-- Main -->
      <div class="page-header">
        <h1>Guest Profile Page</h1>
            <section class="tiles fullRequest">
        <div class="row">
          <div class="col-md-6">
            <span class="image square">
              <img class="houses landscape" src="<%= user.profileImg %>" alt="">
            </span>
            <form class="" action="/guestProfile" method="post" enctype="multipart/form-data">
              <input type="file" name="file-to-upload">
              <input type="submit" value="Upload">
            </form>

          </div>
                    <div class="well col-md-6">
                      <div class="content">

                        <h3><span class="fa fa-user"></span> Profile</h3>

                        <% if (user.local.email) { %>
                            <p>
                                <strong>First Name</strong>: <%= user.local.firstName %><br>
                                <strong>Last Name</strong>: <%= user.local.lastName %><br>
                                <strong>Gender</strong>: <%= user.local.sex %><br>
                                <strong>Age</strong>: <%= user.local.age %>
                            </p>

                            <a href="/unlink/local" class="btn btn-default">Unlink</a>
                            <h2><%= user.local.email %></h2>
                            <a href="/logout" class="btn btn-default btn-sm">Logout</a>
                            <% if (user.local.email) { %>
                            <a href="/unlink/local" class="btn btn-default">Delete</a>
                            <% } else { %>
                            <a href="/connect/local" class="btn btn-default">Connect Local</a>
                            <% } %>
</div>
                    </div>


          </div>
        </section>
      </div>
      <% */ %>

<div class="">
  <% for(var i=0; i<requests.length; i++) {%>
    <section class="tiles fullRequest">

    <span class="image square">
      <img class="houses landscape" src="https://safe-havre.s3.us-east-2.amazonaws.com/<%= requests[i].house.Thumbnail %>" alt="">
      <span><%= requests[i].house.location %></span>
      <span><%= requests[i].house.space %></span>
    </span>
    <!-- <a href="generic.html"> -->
      <div class="content">
      </div>
    <!-- </a> -->

  <!-- <a href="generic.html"> -->
    <div class="content">
      <ul class="hostRequest" data-id="<%= requests[i]._id %>">
        <li><h5><a href="#">Name: <%= requests[i].firstName %> <%= requests[i].lastName %></a></h5></li>
        <li> <span>Age: </span> <%= requests[i].age %></li>
        <li><span>Gender: </span> <%= requests[i].sex %></li>
        <li><span>Email: </span> <%= requests[i].guestEmail %></li>
        <li><span>Tel: </span> <%= requests[i].phoneNumber %></li>
        <li><span>From: </span> <%= requests[i].arrive %> <span>To:</span> <%= requests[i].departure %></li>
        <li><span>Offering to: </span><%= requests[i].offering %></li>
        <li><span>ExtraInformation: </span><%= requests[i].extraInformation %></li>
        <li style="display: inline-block"><span>Status: </span><%= requests[i].status %></li>
        <span><i class="fa fa-trash" aria-hidden="true"></i></span>

      </ul>

    </div>
  <!-- </a> -->
</section>
<% } %>


      </div>
    </div>
    <% } %>
    </div>

    <script src="main.js"></script>
    <!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
</body>

</html>
