<!doctype html>
<html>

<head>
  <title>Safe-Haven</title>
  <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <!-- <link rel="stylesheet" href="style.css"> -->
  <link rel="stylesheet" href="assets/css/main.css" />
  <noscript>
    <link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
</head>

<body class="is-preload">
  <div class="container">

    <div class="page-header text-center">
      <h1>Host Requests Page</h1>
      <h2><%= user.local.email %></h2>
      <a href="/HostProfile" class="btn btn-default btn-sm">Profile</a>
      <a href="/logout" class="btn btn-default btn-sm">Logout</a>
      <% if (user.local.email) { %>
      <a href="/unlink/local" class="btn btn-default">Delete</a>
      <% } else { %>
      <a href="/connect/local" class="btn btn-default">Connect Local</a>
      <% } %>
    </div>

    <!-- <div class="row"> -->

    <!-- LOCAL INFORMATION -->

    <!-- <div class="col">
          <h3>house</h3>
          <ul class="house">
          <% for(var i=0; i<house.length; i++) {%>
            <li class="house" data-id="<%= house[i]._id %>"</li>
              <img class="houses" src="img/sample-house.jpg" alt="">
              <span><%= house[i].name %></span>
              <span><%= house[i].msg %></span>
              <span><%= house[i].thumbUp %></span>
              <span><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
              <span><i class="fa fa-thumbs-down" aria-hidden="true"></i></span>
              <span><i class="fa fa-trash" aria-hidden="true"></i></span>
            </li>
          <% } %>
          </ul>

          <h2>Add a house</h2>
        <% if (user.local.email) { %>
          <form action="/house" method="POST">
            <input type="text" name="name">
            <input type="text" placeholder="house" name="msg">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
          </form>
        </div>
        <% } %>

</div> -->
    <div id="wrapper">
      <!-- Header -->
      <%- include('header'); -%>

      <!-- Main -->
      <div id="main">
        <div class="inner">

            <% for(var i=0; i<house.length; i++) {%>
              <section class="tiles fullRequest">

              <span class="image square">
                <img class="houses landscape" src="<%= house[i].house[0] %>" alt="">
                <span><%= house[i].name %></span>
                <span><%= house[i].msg %></span>
              </span>
              <!-- <a href="generic.html"> -->
                <div class="content">
                </div>
              <!-- </a> -->
            <% } %>

            <% for(var i=0; i<request.length; i++) {%>

              <!-- <a href="generic.html"> -->
                <div class="content">
                  <ul class="hostRequest">
                    <li><h5><a href="#">Name: <%= request[i].firstName %> <%= request[i].lastName %></a></h5></li>
                    <li> <span>Age: </span> <%= request[i].age %></li>
                    <li><span>Sex:</span> <%= request[i].sex %></li>
                    <li><span>Email:</span> <%= request[i].guestEmail %></li>
                    <li><span>Tel:</span> <%= request[i].phoneNumber %></li>
                    <li><span>From:</span> <%= request[i].arrive %> <span>To:</span> <%= request[i].departure %></li>
                    <li><span>Offering to:</span><%= request[i].offering %></li>
                    <li><span>ExtraInformation</span><%= request[i].extraInformation %></li>
                    <span><i class="fa fa-trash" aria-hidden="true"></i></span>

                  </ul>

                </div>
              <!-- </a> -->

            <% } %>
          </section>
        </div>
      </div>


    </div>

    </div>

    <script src="main.js"></script>
    <!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
</body>

</html>
