<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<title>Safe-Haven</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">
				<header>
					<h1 style="text-align: center">Safe Haven</h1>
				</header>
<div class="SearchBar">
	<h2 style="color: white; text-align: center">Find a place to safe home to reside in one click!</h2>
<div id="SearchBar-fields">
	<form class="" action="/" method="GET">
		<input type="text" name="search" placeholder="Search for a city">
<button type="submit" id="SearchBar-submit" value="Search">Search</button>
	</form>
</div>
</div>

<%- include('header'); -%>
				<!-- Main -->
					<div id="main">
						<div class="inner">

							<section class="tiles">
																<% for(var i=0; i<messages.length; i++) {%>
								<article data-id="<%= messages[i]._id %>" class="fullView">
									<span class="image square">
										<img class="houses landscape" src="https://safe-havre.s3.us-east-2.amazonaws.com/<%= messages[i].Thumbnail %>" alt="">
									</span>
									<!-- <a> -->
										<div class="content">
											<span class="littleMargin"><%= messages[i].location %></span>
											<span><%= messages[i].thumbUp %></span>
											<!-- <span><i class="fa fa-thumbs-up" aria-hidden="true"></i></span> -->
											<!-- <span><i class="fa fa-thumbs-down" aria-hidden="true"></i></span> -->
										</div>
									<!-- </a> -->
									<span class="littleMargin"><%= messages[i].space %></span>
								</article>
																<% } %>

							</section>
						</div>
					</div>

				<!-- Footer -->
<%- include('footer'); -%>

			</div>

			<script src="main.js"></script>
		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
