<!doctype html>
<html>

<head>
  <title>Safe-Haven</title>
  <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <!-- <link rel="stylesheet" href="style.css"> -->
  <link rel="stylesheet" href="../assets/css/main.css" />
  <noscript>
    <link rel="stylesheet" href="../assets/css/noscript.css" /></noscript>
</head>

<body class="is-preload">
  <div class="container">

    <div class="page-header">
      <h1>Guest Profile Page</h1>
      <div class="">
                  <div class="well">
                      <h3><span class="fa fa-user"></span> Profile</h3>

                      <% if (user.email) { %>
                          <p>
                              <strong>First Name</strong>: <%= user.firstName %><br>
                              <strong>Last Name</strong>: <%= user.lastName %><br>
                              <strong>sex</strong>: <%= user.sex %><br>
                              <strong>Age</strong>: <%= user.age %><br>
                              <strong>userType</strong>: <%= user.userType %>
                          </p>

                  </div>
              </div>
      <h2><%= user.email %></h2>
    </div>


    <div id="wrapper">
      <!-- Header -->
      <%- include('header'); -%>

      <!-- Main -->



    </div>
      <% } %>
    <script src="main.js"></script>
    <!-- Scripts -->
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/browser.min.js"></script>
			<script src="../assets/js/breakpoints.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<script src="../assets/js/main.js"></script>
</body>

</html>
